<!-- resetPasswordForm.handlebars -->

<form method="post" action="/api/users/reset-password">
  <!-- Campos del formulario para la solicitud de restablecimiento de contraseña -->
  <label for="email">Correo electrónico:</label>
  <input type="email" name="email" required>
  <button type="submit">Enviar solicitud</button>
</form>